.container {
  width: 100%;
  padding-right: $container-padding;
  padding-left: $container-padding;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: $breakpoint-small) {
    max-width: 540px;
  }
  
  @media (min-width: $breakpoint-medium) {
    max-width: 720px;
  }
  
  @media (min-width: $breakpoint-large) {
    max-width: 960px;
  }
  
  @media (min-width: $breakpoint-xlarge) {
    max-width: 1140px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
  &__item {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 1.5rem;
    
    @media (min-width: $breakpoint-small) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    
    @media (min-width: $breakpoint-large) {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
}

.hide-on-mobile {
  @media (max-width: ($breakpoint-medium - 1px)) {
    display: none !important;
  }
}

.hide-on-desktop {
  @media (min-width: $breakpoint-medium) {
    display: none !important;
  }
}