

@import "bootstrap-custom";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/variables-dark";
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "base/variables";


@import "utilities/mixins";
@import "utilities/functions";


@import "base/reset";
@import "base/typography";


@import "utilities/container-queries";


@import "components/header";
@import "components/footer";
@import "components/hero";


@import "layouts/grid";
@import "layouts/home";
@import "layouts/participants";
@import "layouts/conferencias";
@import "layouts/talleres";


html {
    overflow-y: scroll; 
  }
  
  body {
    padding-right: 0 !important; 
  }
  
  .navbar {
    width: 100%;
    min-height: 62px; 
  }