// Mixins reutilizables

// Mixin para truncar texto
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}